{
    "lines": 50,
    "statements": 50,
    "functions": 50,
    "branches": 50,
    "reporter": [
        "lcov",
        "text-summary"
    ],
    "extension": [
      ".jsx"
    ],
    "check-coverage": true
}
